<div class="flex flex-col justify-center items-center container" *ngIf="data">
    <div class="border-2 shadow-md p-4 rounded-md w-full lg:w-1/2 card-container">
        <div class="flex justify-between items-center py-2 heading-container">
        <h1 class="font-semibold text-2xl">{{data.name}}</h1>
        <img class="w-14" [src]="data.image.url" alt="">
        </div>
        <div class="flex items-center gap-2 border-y-[1px] py-2 link-container">
            <img   class="rounded-full w-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Web.svg/1200px-Web.svg.png" alt="">
        <a [href]="data.description.url" class="hover:text-blue-700">{{data.name}}.com</a>
        </div>
        <div class="py-3 info-container">
          <p class="text-[14px]">{{data.description.text}} <a [href]="data.description.url">{{data.description.site}}</a></p>
        </div>
        <div class="description-container" *ngFor="let data of data.info">
            <p><b>{{ data.title }} :</b><span class="text-[14px] text-blue-600 hover:underline"> {{ data.labels.join(', ') }}</span></p>
        </div>
        
    </div>
</div>